snippet head "head of python file"
#!/usr/bin/python
# coding=utf-8
#
# Title: $1
# Author: Lucas
# Date: `!v strftime("%Y-%m-%d %H:%M:%S")`
#
$0
endsnippet

snippet main "main of python file"
if __name__ == '__main__':
    $0
endsnippet

snippet def "method in class"
def $1(self$2):
    $0
endsnippet

snippet init "__init__ method of class"
def __init__(self$1):
    $2
endsnippet
