snippet artical "Template of pelican articals"
My super title
##############

:date: 2018-00-00 00:00
:modified: 2018-00-00 00:00
:tags: thats, awesome
:category: yeah
:slug: my-super-post
:authors: Lucas
:summary: Short version for index and feeds
endsnippet


