snippet now "datetime"
`!v strftime("%Y-%m-%d %H:%M:%S")`
endsnippet

snippet head "head of python file"
#!/usr/bin/python
# coding=utf-8

endsnippet

snippet main "main of python file"
if __name__ = '__main__':
    
endsnippet
